:root {
    --color-white-dark: hsl(0, 0%, 96%);
    --color-white: hsl(0, 0%, 99%);
    --color-white-true: hsl(0, 0%, 100%);
    --color-grey-light: hsl(0, 0%, 33%);
    --color-grey: hsl(0, 0%, 29%);
    --color-grey-dark: hsl(0, 0%, 20%);
    --color-grey-darker: hsl(0, 0%, 15%);
    --color-black: hsl(0, 0%, 17%);
}

@font-face {
    format: 'woff2';
    src: url('./static/fonts/Lato-Regular.woff2');
    font-family: 'Lato-Regular';
    font-weight: normal;
}

html {
    box-sizing: border-box;
    // font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-white-true);
    font-family: 'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    // font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
